@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Edu+QLD+Beginner&family=Montserrat:wght@400;700;800;900&family=Poppins:ital@1&family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Edu+QLD+Beginner&family=Montserrat:wght@400;700;800;900&family=Poppins:ital@1&family=Roboto&family=Ubuntu&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 480px) {
  
}
